
  <h2>User Profile<small> for <%=@user.name%></small></h2>


  <small><%=@user.email %></small>

  <div class="media-heading">
    <h3><u><%= @user.name%>'s TODO List</u></h3>
  </div>

  <br>

  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Todo Item</th>
          <th>Time to complete</th>
          <th>Completed?</th>
        </tr>
      </thead>
      <tbody>
        <%= render @items %>
      </tbody>
    </table>
  </div>

  <br>

<% if @user == current_user %>
  <button type="button" class="btn-btn primary"><%= link_to "Create new todo item", new_item_path %></button>
  <button type="button" class="btn-btn primary"><%= link_to "Edit Profile", edit_user_registration_path %></button>
<% end %>
  <br>
  <br>
